.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a{ class: "navbar-brand", href: "#"}
        %ul{class: "nav navbar-nav"}
          %li 
            %a{ href:"/games"}Home
          %li
            %a{ href: players_path }Players
          %li
            = link_to('Sign Out', destroy_user_session_path, :method => :delete)
-#        %li 
-#           %a{ href:"#contact"}Contact Us

