=game.errors.full_messages if(!game.errors.empty?)
=nested_form_for(game) do |f|
  =f.label "Name"
  =f.text_field :name
  %br
  =f.label "Description"
  =f.text_field :description
  %br
  =f.label "Scoring Points"
  =f.text_field :scoring_pts
  %br
  -#%div#add_more
    =f.fields_for :matches do |m|
      %h3 Match details 
      =m.label "Venue"
      =m.text_field :venue
  -#%br
  -#%p 
    =f.link_to_add("Add More", :matches, class: "btn btn-primary")
  -#%br
  =f.submit

